body {
    background-color: #000;
    color: #fff;
    text-align: center;
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
  }
  
  button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }
  
  #start {
    background-color: #cc0000;
    color: white;
  }
  
  #toggleCameraButton {
    background-color: #cc0000;
    color: white;
  }
  
  #webcam-container {
    margin-top: 20px;
  }
  
  video {
    width: 450px;
    height: 450px;
    background: #000;
    transform: scaleX(-1);
  }
  
  .prediction-row {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .prediction-label {
    width: 100px;
    text-align: right;
    margin-right: 10px;
  }
  
  .prediction-bar-container {
    flex: 1;
    background: #000;
    height: 20px;
    border-radius: 5px;
    margin-right: 10px;
    overflow: hidden;
  }
  
  .prediction-bar {
    background: #ff0000;
    height: 100%;
    width: 0%;
  }
  